@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
	}
.frame
{
	height:140px;
	margin-top: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
}
.top-bg,.main-bg,.bottom-bg
{
	width:100%;
	height:20px;
	background-color:#93C
	
}
.top{
	width:1024px;
	margin:0px auto ;
	
	}
.main-bg
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height:805px;
	height:auto;
	background-color: #E1E1E1;	
}
.main{
	padding-top: 10px;
	margin: 0px auto;
	width: 1024px;
	height:auto;
	background-color: #FEFEFE;
	
	}
.mark_one{
	width: 850px;

	background-color: #fff;
	border-top-color:#141414;
	border-top-style: solid;
	border-width: 1px;
	font-family: "黑体";
	font-size: 20px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	padding-top: 10px;
	text-indent: 0.2cm;
	height:40px;

	}
.markContent{
	
	border-width: 1px;
	border-bottom-color:#282828;
	border-bottom-style: dashed;
	font-size: 16px;
	width: 670px;
	margin-right: auto;
	margin-left: auto;
	color: #4E4E4E;

	margin-top: 10px;
	padding-left:180px;
	padding-bottom:15px;
	min-height:30px;
	height:auto;
}
.mark{
	
	
	margin: 10px auto;
	width:850px;
	
	
	background-color: #fff;
	border-bottom-color: #929292;
	border-width: 1px;
	border-bottom-style: dashed;
	padding-bottom:10px;
	min-height:100px;
	height:auto;

	
	}
.reply-div{
	margin-left:auto;
	margin-right:auto;
	width: 900px;;
	height: 300px;
	
	
	}
.reply{

	width: 100%;
	height: 300px;
	
	}
	

.uhaed{
	
	border-collapse: collapse;
	margin-top: 2px;
	margin-left: 2px;
	float:left;
	width: 70px;
	height: 70px;
	border-radius: 60px;
	background-color: #CCCCCC;
	padding: 0px;
	border: 1px solid #DDD;
}


.uhaed-bg{
	border-collapse: collapse;
	float:left;
margin-top: 5px;
	margin-left: 5px;
	width: 76px;
	height: 76px;
	border-radius: 60px;

	border-color: #99FF66;
	border-width: 1px;
	padding: 0px;
	border: 1px solid #008eb2;
}

.uid{
	margin-left:10px;
	margin-top:10px;
	min-width:30px;
	width: auto;
	float:left;
	color:#06F;
	font-size:18px;
}
.sex{
	width:20px;
	height:20px;
	float:left;
	margin-left:-30px;
	margin-top:35px;
		font-size:12px;
	}
.level{
	width:80px;
	float:left;
	margin-left:-30px;
	margin-top:60px;
	color:#9E9E9E;
	font-size:12px;
	}
.replycontent
{

	
	width:500px;
	min-height:60px;
	height:auto;
	margin-left:172px;
	padding-top:10px;
	

}
.del
{
	
	float:right;
	margin-top:-26px;}