A:link {FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none}
A:visited {FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none}
A:hover {FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: underline}
td {font-family: "宋体", "仿宋_GB2312", "黑体";font-size: 14px;	color: #000000;text-decoration: none;line-height: 140%;}
th {font-family: "宋体", "仿宋_GB2312", "黑体";font-size: 32px;}
